{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

{% load static %}

<!--<div class="container mt-3 mb-3">-->
<!--    <div class="d-flex justify-content-center">-->
<!--        <div class="col-5 card p-4">-->
<!--            <div class="card-header">-->
<!--                <div class="text-center">-->
<!--                    <b>{{title}}</b>-->
<!--                </div>-->
<!--            </div>-->

<!--            <form action="" method="post" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->

<!--                {{ form.as_p }}-->


<!--                <button type="submit" class="d-flex justify-content-center btn btn-primary">-->
<!--                    Register-->
<!--                </button>-->
<!--                <small class="d-flex justify-content-center">-->
<!--                    Already have an account? <a href='{% url "login_page" %}'>Sign In</a>-->
<!--                </small>-->
<!--                <div class="text-center mt-4">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<section class="form-container">
    <form action="" method="post">
        <div class="form">
            {% csrf_token %}
            <h3 class="fadeRedText heading">Register now</h3>
            <input type="text" name="username" maxlength="20" class="box" placeholder="Username">
            <ul class="validationDeclaration">
                <li>Minimum 5 characters, must start with a letter</li>
                <li>Only letters and numbers can be used</li>
            </ul>
            <input type="email" name="email" maxlength="50" class="box" id="regEmail" placeholder="Email"/>
            <ul class="validationDeclaration">
                <li>Must have one and only one @</li>
                <li>Allowed characters: letters (a-z), numbers, underscores, periods, and dashes.</li>
                <li>An underscore, period, or dash must be followed by one or more letter or number.</li>
                <li>The last portion of the domain must be at least two characters, for example: .com, .org, .cc</li>
            </ul>
            <input type="password" name="password1" required maxlength="20" class="box passInput" id="regPassword"
                   placeholder="Password"/>
            <ul class="validationDeclaration">
                <li>Minimum of 8 characters</li>
                <li>Maximum of 20 characters</li>
                <li>USE AT LEAST 3 of the following classes:</li>
                <li>Lower case letters</li>
                <li>Upper case letter(s)</li>
                <li>Number(s)</li>
                <li>Special Character(s) (@#$^&*+=)</li>
            </ul>
            <input type="password" name="password2" required maxlength="20 passInput" class="box" id="regCorPassword"
                   placeholder="Confirm password"/>
            <div class="showPasswordCont">
                <input type="checkbox" name="show password" id="showPassword">
                <label for="showPassword">Show Passwords</label>
            </div>
            <input type="submit" value="register now" class="fadeRedBg btn" name="submit" id="saveButton"
                   onclick="save()"/>
            <p>Already have an account?</p>
            <a href="{% url 'login_page' %}" class="fadeRedBg option-btn">login now</a>
        </div>
    </form>
</section>

{% endblock main %}